<!--Imagen de fondo de la pagina-->
<div class="bg contact"></div>
<!--texto de fondo de la pagina-->
<div class="bg-text container">
  <h1>Medios de contacto</h1>
  <p>att Matias Cesar Rogante</p>
</div>
<div class="container txt-contact">
  <div
    class="row"
    data-aos="fade-right"
    data-aos-offset="180"
    data-aos-easing="ease-in-sine"
  >
    <h3>Email: matiasrogante.profesional@gmail.com</h3>
    <h3>
      GitHub:
      <a href="https://github.com/BreiNus?tab=repositories">Click aqui:</a>
    </h3>
    <h3>WhatsApp: 123141231</h3>
  </div>
</div>
