<!--Imagen de fondo de la pagina-->
<div class="bg quieSoy"></div>
<!--texto de fondo de la pagina-->
<div class="bg-text container">
  <h1>Hola y bienvenidos</h1>
  <p>att Matias Cesar Rogante</p>
</div>

<section class="container seccion-custom">
  <div class="row">
    <div class="cc col-md" data-aos="zoom-in">
      <img
        src="../assets/images/foto-perfil.jpg"
        class="img-fluid"
        alt="soyyo"
      />
    </div>
    <div
      class="col-md"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
    >
      <h3>¿Quien soy?</h3>
      <p class="card-text">
        Hola, encantado de conocerlo soy Matias Rogante, una persona apacionada
        por el mundo de la programacion, eficaz y con una gran voluntad para
        aprender y superar los obstaculos que se me presenten, siempre estoy
        trabajando para mejorar mis habilidades aprendiendo por mi cuenta todo
        lo que haga falta.
      </p>
      <h4>Hobbies</h4>
      <p>
        Jugar video juegos (mayormente de PC), tocar un rato la guitarra o
        dibujar
      </p>
      <!--Barras de procentaje cilindricas-->
      <h3>Mis conocimientos</h3>
      <div class="wrap">
        <div class="margen-barras-porcentaje progress-radial progress-15">
          <div class="overlay">15% HTML</div>
        </div>

        <div class="margen-barras-porcentaje progress-radial progress-5">
          <div class="overlay">5% CSS</div>
        </div>

        <div class="margen-barras-porcentaje progress-radial progress-10">
          <div class="overlay">10% JS</div>
        </div>

        <div class="margen-barras-porcentaje progress-radial progress-5">
          <div class="overlay">5% TSC</div>
        </div>

        <div class="margen-barras-porcentaje progress-radial progress-5">
          <div class="overlay">5% Angular</div>
        </div>
      </div>
    </div>
  </div>
</section>
