<!--Menu de bootstrap-->
<app-nav-bar></app-nav-bar>
<!--Imagen de fondo de la pagina-->
<div class="bg quieSoy"></div>
<!--texto de fondo de la pagina-->
<div class="bg-text container ">
  <h1>Un poco sobre mi</h1>
  <p>att Matias Cesar Rogante</p>
</div>
<section class="container seccion-custom">
  <div class="row">
    <!--Quien soy?-->
    <app-persona></app-persona>
    <!--Barras de procentaje cilindricas-->
    <app-skills></app-skills>
  </div>
</section>
<!--Experiencia Academica y Laboral-->
<section class="contenedor_padre">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0 ">
      <div class="card contenedor_padre">
        <div class="card-body">
          <app-exp-academica></app-exp-academica>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card contenedor_padre">
        <div class="card-body">
          <app-exp-laboral></app-exp-laboral>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Footer -->
<app-footer></app-footer>