<!--Menu de bootstrap-->
<app-nav-bar></app-nav-bar>

<!--Imagen de fondo de la pagina-->
<div class="bg home"></div>
<!--texto de fondo de la pagina-->
<div class="bg-text container">
  <h1>Hola {{nombreUsuario}} y bienvenid@ a mi espacio de desarrollo</h1>
  <p>att Matias Cesar Rogante</p>
</div>
<!--Cards de bootstrap para dejar una img con desc en el home de mis proyectos-->
<!--Importante la implementacion de <section>-->
<app-proyectos></app-proyectos>
<!--Footer -->
<app-footer></app-footer>