<section data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="titulo_mas_BotonAdd" mat-button (click)="openDialogNew()" *ngIf="isLogged">
    <h2 class="fs-2 text-decoration-underline fuente_titulo">Experiencia Laboral</h2>
    <button mat-mini-fab><i class="fa-regular fa-square-plus fa-lg"></i></button>
  </div>
  <div *ngFor="let expLab of expLaboral" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
    <div class="contenedor_padre">
      <div class="descripcion-puesto">
        <h3 class="text-decoration-underline">Informacion:</h3>
        <p class="texto-card"> <strong><u>Puesto de trabajo:</u></strong> {{ expLab.nombreExpLaboral }}</p>
        <p class="texto-card"><strong><u>Empresa:</u></strong> {{ expLab.nombreCompania }}</p>
        <p class="texto-card"><strong><u>Incicio:</u></strong> {{ expLab.inicioTrabajo }}</p>
        <p class="texto-card"><strong><u>Fin:</u></strong> {{ expLab.finTrabajo }}</p>
        <p class="texto-card text-break"><strong><u>Descripcion:</u></strong> {{ expLab.descripcionTrabajo }}</p>
      </div>
      <div>
        <button mat-mini-fab *ngIf="isLogged" (click)="openDialogEdit(expLab.id)"><i
            class="fa-solid fa-pen-to-square"></i></button>
        <button mat-mini-fab *ngIf="isLogged" (click)="delete(expLab.id)"><i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>
  </div>
</section>