<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        class="logotipo"
        src="../assets/images/logotipo.png"
        alt="logotipo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!--routerLinkActive="active" es igual que la propiedad de bootstrap "active" pero en angular-->
          <a class="nav-link" routerLinkActive="active" routerLink="/home"
            >Home</a
          >
        </li>
        <!--
          <li class="nav-item">
            <a class="nav-link" href="./pages/proyectos.htm">Proyectos</a>
          </li>
          -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/quiensoy"
            >Who I am?</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contacto"
            >Contacto</a
          >
        </li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/matias_rogante/">
          <img
            class="iconosRedesHeader"
            src="../assets/images/logoInstagram.png"
            class="rounded float-end"
            alt="logoInstragram"
          />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img
            class="iconosRedesHeader"
            src="../assets/images/logoWhatsApp.png"
            class="rounded float-end"
            alt="logoWhatsapp"
          />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/BreiNus?tab=repositories">
          <img
            class="iconosRedesHeader"
            src="../assets/images/logoGitHub.png"
            class="rounded float-end"
            alt="logogithub"
          />
        </a>
      </li>
    </div>
  </div>
</nav>
