<!--Menu de bootstrap-->
<app-nav-bar></app-nav-bar>

<!--  Este mensaje solo se va a mostrar si se hizo antes el login -->
<div class="test-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>

<!-- usamos un ngTemplate para crear el loggedOut-->
<ng-template #loggedOut>
  <div class="container d-flex justify-content-center mt-5">
    <div class="card mb-5" style="width: 18rem">
      <!--el card va a tener dos partes, el card header que tiene unos botones es decir una 
                barra de nav pequeña uno para login y otro para register y el card body donde va a estar el form-->
      <div class="card-header">
        <!-- Estos son Tabs de bootstrap-->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro">Crear cuenta</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario"
              required />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required />
          </div>
          <div class="form-group">
            <button class="btn btn-outline-success btn-block mt-3" [disabled]="!f.valid">
              <i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión
            </button>
          </div>
        </form>
        <!--Mensaje de err-->
        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">
          Error en el login: {{ errMsj }}
        </div>
      </div>
    </div>
  </div>
</ng-template>