<!--Menu de bootstrap-->
<app-nav-bar></app-nav-bar>

<!--  Este mensaje solo se va a mostrar si se hizo antes el login 
<div class="test-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>
-->
<!-- usamos un ngTemplate para crear el loggedOut
<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">-->
<!--el card va a tener dos partes, el card header que tiene unos botones es decir una 
                  barra de nav pequeña uno para login y otro para register y el card body donde va a estar el form
      <div class="card-header">-->
<!-- Estos son Tabs de bootstrap
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/registro">Crear cuenta</a>
          </li>
        </ul>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</ng-template>-->