<form novalidate #f="ngForm">
    <h2 mat-dialog-title>Modificar el conocimiento:</h2>
    <div class="form-container">

        <label for="nombreSkill">Nombre de la Skill:
            <input type="text" id="nombreSkill" name="nombreSkill" placeholder="Ej: Java"
                [(ngModel)]="skills.nombreSkill" required />
        </label>
        <label for="porcentajeSkill">Nivel de Skill:
            <input type="number" id="porcentajeSkill" name="porcentajeSkill"
                placeholder="Ingrese un numero del 1 al 100" [(ngModel)]="skills.porcentajeSkill" required />
        </label>
        <label for="colorSkill" class="color-skills">Color de la Skill:
            <input type="color" id="colorSkill" name="colorSkill" [(ngModel)]="skills.colorSkill" required />
        </label>

    </div>
    <div mat-dialog-actions class="form-container_button">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button cdkFocusInitial class="send-button" (click)="onUpdate(data.id)">Actualizar</button>
    </div>
</form>